.advantages {
  padding-bottom: 53px;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding-right: 79px;
    padding-bottom: 60px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-bottom: 82px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.advantages__title {
  font-size: 36px;
  line-height: 100%;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .advantages__title {
    font-size: 60px;
    margin-bottom: 72px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  position: relative;
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 77px;
    column-gap: 153px;
    counter-reset: section;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 95px;
    max-width: 1440px;
  }
}

.advantages__item {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-gray;
  margin-bottom: 9%;
  padding-left: 80px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .advantages__item {
    padding-left: 0;
    padding-top: 111px;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 0;
    min-height: 240px;
    position: relative;

    &::after {
      position: absolute;
      left: 110px;
      top: 90px;
      color: #f2f2f2;
      font-size: 280px;
      font-family: "Oswald", sans-serif;
      counter-increment: section;
      content: counter(section);
      z-index: -1;
    }
  }
}

.advantages__item--square {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: @basic-green;
    content: "";
  }
}

.advantages__item--leaf {
  &::before {
    position: absolute;
    background-image: url("../img/main/advantages-leaf.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    top: 0;
    left: 0;
    width: 25px;
    height: 28px;
    z-index: 1;
    padding: 30px;
  }
}

.advantages__item--powder {
  &::before {
    position: absolute;
    background-image: url("../img/main/advantages-powder.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    top: 0;
    left: 0;
    width: 27px;
    height: 29px;
    z-index: 1;
    padding: 30px;
  }
}

.advantages__item--food {
  &::before {
    position: absolute;
    background-image: url("../img/main/advantages-food.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    top: 0;
    left: 0;
    width: 25px;
    height: 30px;
    z-index: 1;
    padding: 30px;
  }
}


.advantages__item--time {
  &::before {
    position: absolute;
    background-image: url("../img/main/advantages-time.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    top: 0;
    left: 0;
    width: 27px;
    height: 31px;
    z-index: 1;
    padding: 30px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__item--leaf,
  .advantages__item--food,
  .advantages__item--time,
  .advantages__item--powder {
    &::before {
      padding: 40px;
    }
  }
}

@media (max-width: @mobile-width-only) {
  .advantages.style-line {
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .advantages.style-line {
    border: none;
  }
}
