.catalog-additional {
  padding-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .catalog-additional {
    padding-bottom: 73px;

    .style-line--top {
      border-right: 1px solid #cdcdcd;
      border-left: 1px solid #cdcdcd;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional {
    padding-bottom: 87px;

    .wrapper {
      display: grid;
      grid-template-columns: 1fr 20%;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      column-gap: 80px;
      max-width: 1440px;
      margin: 0 auto;
    }

    .style-line--top {
      border-right: none;
      border-left: none;
    }
  }
}

.catalog-additional__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
  margin-bottom: 35px;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .catalog-additional__title {
    font-size: 36px;
    margin-bottom: 80px;
    padding-left: 0;
  }
}

.catalog-additional__title-wrapper {
  display: flex;
  gap: 20px;

  &::after {
    content: "";
    height: 15px;
    width: 17%;
    border-bottom: 2px solid @basic-green;
    flex-grow: 1;
  }
}

@media (min-width: @tablet-width) {
  .catalog-additional__title-wrapper {
    gap: 40px;

    &::before {
      content: "";
      border-bottom: 2px solid @basic-green;
      height: 24px;
      width: 30px;
    }

    &::after {
      height: 24px;
      width: 18%;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional__title-wrapper {
    &::before {
      width: calc(50% - 650px);
    }

    &::after {
      width: 18%;
      flex-grow: 1;
    }
  }
}

.catalog-additional__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: #222222;
  margin-top: 0;
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .catalog-additional__subtitle {
    margin-bottom: 0;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional__subtitle {
    width: 163px;
    word-wrap: break-word;
  }
}

.catalog-additional__text,
.catalog-additional__price {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #444444;
}

.catalog-additional__price {
  text-align: right;
  min-width: 71px;
}

@media (min-width: @tablet-width) {
  .catalog-additional__text,
  .catalog-additional__price {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional__price {
    min-width: 42px;
    text-align: left;
  }
}

.catalog-additional__text {
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .catalog-additional__text {
    margin-right: 21px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional__text {
    width: 150px;
    margin-right: 0;
  }
}

.catalog-additional__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .catalog-additional__details {
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional__details {
    margin-left: 164px;
    width: 285px;
  }
}

.catalog-additional__information {
  margin-bottom: 13px;
}

@media (min-width: @tablet-width) {
  .catalog-additional__information {
    display: flex;
    margin-bottom: 24px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional__information {
    margin-bottom: 0;
    align-items: baseline;
  }
}

.catalog-additional__link {
  display: block;
  padding: 10px 26px;
  text-align: center;
}

@media (min-width: @desktop-width) {
  .catalog-additional__link {
    margin-left: 39px;
  }
}

.catalog-additional__banner {
  background-image: url("../img/catalog/catalog-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 290px;
  padding: 59px 61px 43px 58px;
  position: relative;
  margin-top: 34px;
}

@media (min-width: @tablet-width) {
  .catalog-additional__banner {
    margin-top: 70px;
    min-height: 200px;
    padding: 57px 125px 61px 77px;
    background-position: center 60%;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional__banner {
    grid-column: -2/-1;
    grid-row: 1/-1;
    margin-top: 0;
    padding: 56px 32px 43px 32px;
    min-width: 245px;
    background-position: right;
  }
}

.catalog-additional__icon {
  background-image: url("../../img/catalog/icon-gift.svg");
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  width: 78px;
  height: 80px;
  left: 50%;
  transform: translate(-50%);
}

@media (min-width: @tablet-width) {
  .catalog-additional__icon {
    left: 77px;
    transform: none;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional__icon {
    left: 50%;
    top: 20%;
    transform: translate(-50%);
  }
}

.catalog-additional__description {
  margin: 0;
  margin-top: 127px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  color: #ffffff;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .catalog-additional__description {
    margin-top: 14px;
    margin-left: 68%;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional__description {
    margin-left: 0;
    margin-top: 130px;
    text-align: center;
    min-width: 161px;
  }
}

.catalog-additional__wrapper {
  padding: 12px 0 18px 0;
}

@media (min-width: @tablet-width) {
  .catalog-additional__wrapper {
    padding: 26px 38px 28px 38px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional__wrapper {
    grid-column: 1/2;
    display: flex;
    padding: 15px 0 15px 0;
    align-items: center;
  }
}

.catalog-additional__wrapper.style-line--top,
.catalog-additional__wrapper.style-line {
  border-color: #cdcdcd;
}
