.catalog-additional__banner {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/catalog-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 290px;
  padding: 65px 61px 43px 58px;
}

.catalog-additional__description {
  margin: 0;
  color: #ffffff;
}

.catalog-additional__link {
  padding: 10px 109px;
}
