.hero {
  margin-bottom: 20px;
}

.hero__container {
  background-color: #64a73c;

  .wrapper {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/main/index-hero.jpg");
    background-color: #64a73c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    text-align: center;
    padding-top: 27px;
    min-height: 302px;
    margin-bottom: 138px;
    position: relative;
  }
}

.hero__text {
  padding-bottom: 135px;
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
  color: #ffffff;
}

.hero__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  color: #ffffff;
}

.hero__image {
  position: absolute;
  background-image: url("../img/main/index-can-mobile.png");
  content: "";
  width: 280px;
  height: 270px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}

.hero__link {
  font-size: 14px;
  line-height: 18px;
  display: block;
  width: 280px;
  text-align: center;
}
