.main-footer {
  background-color: @basic-gray;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;

  .wrapper {
    text-align: center;
  }
}

.main-footer__link {
  display: block;
  box-sizing: content-box;
  height: 24px;
}

.main-footer__position {
  padding-bottom: 19px;
}

.main-footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 7px;

  .main-footer__link {
    height: 22px;
  }
}

.main-footer__link--social {
  padding: 12px;
}

.main-footer__social-item {
  display: block;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  gap: 140px;
  align-items: center;
  min-height: 34px;
  padding-top: 20px;
}

.main-footer__copyright {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  display: block;
  padding: 7px 0;
  color: @special-dark-gray;

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.main-footer__logo path {
  fill: #111111;

  &:hover {
    fill: #3e3e3e;
  }
}

.main-footer__icon path {
  fill: #666666;

  &:hover {
    fill: @basic-green;
  }

  &:active {
    fill: rgba(104, 183, 56, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .main-footer {
    padding-top: 55px;
    padding-bottom: 55px;

    .style-line {
      border: none;
      width: auto;
    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 37px;
    }
  }

  .main-footer__social-list {
    padding-top: 0;
  }

  .main-footer__position {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .footer-copyright {
    gap: 23px;
    padding-top: 0;
  }
}
