.main-header {
  position: relative;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: @tablet-width) {
  .main-header {
    padding-top: 31px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    padding-top: 62px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .main-header.style-line {
    border: none;
  }
}

.main-header__logo {
  display: block;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-text {
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .main-header__logo-text {
    padding: 0;
    top: 25px;
    left: 103px;
    transform: none;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: @desktop-width) {
  .main-header__logo-text {
    top: 55px;
    left: 194px;
    transform: none;
    padding-top: 19px;
    padding-bottom: 19px;
    width: 118px;
  }
}

.main-header__logo-image {
  position: absolute;
  top: 13px;
}

@media (min-width: @tablet-width) {
  .main-header__logo-image {
    top: 25px;
    left: 30px;
  }
}

@media (min-width: @desktop-width) {
  .main-header__logo-image {
    top: 55px;
    left: 110px;
  }
}
