.page__main {
  min-height: 100%;
}

.page__main-index {
  padding-top: 0;
}

.page__title {
  font-size: 36px;
  line-height: 100%;
  font-weight: 400;
  margin: 0;
  padding: 27px 20px 41px 20px;
}

.page__title-form {
  padding-bottom: 37px;
}

@media (min-width: @tablet-width) {
  .page__title {
    font-size: 60px;
    padding: 65px 30px 54px 30px;
  }

  .page__title-form {
    padding-left: 70px;
  }
}

@media (min-width: @desktop-width) {
  .page__title {
    padding: 74px 110px 54px 110px;
  }
}

