.page__main {
  min-height: 100%;
}

.page__main-index {
  padding-top: 0;
}

.page__title-form {
  padding-bottom: 37px;
}

.page__title {
  font-size: 36px;
  line-height: 100%;
  font-weight: 400;
  margin: 0;
  padding: 27px 20px 41px 20px;
}

@media (min-width: @tablet-width) {
  .page__title {
    font-size: 60px;
    padding: 65px 30px 54px 30px;
  }
}

@media (min-width: @desktop-width) {
  .page__title {
    padding: 74px 110px 54px 110px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .page__title-form {
    padding-left: 70px;
  }
}

@media (min-width: @desktop-width) {
  .page__title-form {
    padding-left: 110px;
  }
}

@media (min-width: @desktop-width) {
  .page__body--index {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/main/index-background-desktop.jpg");
      background-repeat: no-repeat;
      background-position: top right;
      background-color: #64a63b;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      z-index: -3;
    }

    .site-list__link {
      color: #ffffff;
    }

    .site-list__link:hover,
    .site-list__link:focus {
      color: rgba(255, 255, 255, 0.6);
    }

    .site-list__link:disabled {
      color: rgba(255, 255, 255, 0.3);
    }

    .site-list__item--current {
      border-bottom: 2px solid #ffffff;
    }
  }
}

