.programs__item {
  margin-bottom: 20px;
}

.programs__item-wrapper {
  padding: 21px 33px 22px 20px;
  background-color: @basic-gray;
  min-width: 280px;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
}

.programs__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-gray;
  margin-top: 0;
  padding-bottom: 23px;
  margin-bottom: 15px;
}

.programs__link {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-right: 47px;
  background-image: url("../img/main/icon_arrow.svg");
  background-repeat: no-repeat;
  background-size: 32px 10px;
  background-position: center right;
}

@media (min-width: @tablet-width) {
  .programs {
    .style-line {
      border: none;
    }
  }

  .programs__item-wrapper {
    padding: 77px 316px 57px 52px;
  }

  .programs__title {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 24px;
  }

  .programs__description {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 52px;
    padding-bottom: 0;
  }

  .programs__link {
    font-size: 20px;
    line-height: 20px;
  }

  .programs__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 45px;
    }
  }
}

@media (min-width: @desktop-width) {
  .programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 71px;
  }

  .programs__item,
  .programs__item:last-child {
    margin-bottom: 0;
  }

  .programs__item-wrapper {
    padding: 77px 61px 55px 52px;
  }

  .programs__title {
    margin-bottom: 73px;
  }

  .programs__description {
    margin-bottom: 27px;
  }
}
