.site-list__link {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  padding: 21px 21px 23px 21px;
  display: block;
  border-top: 1px solid #e6e6e6;
  word-wrap: break-word;
  min-width: max-content;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .site-list__link {
    font-size: 18px;
    line-height: 24px;
    border-top: none;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    font-size: 20px;
  }
}

.site-list__item {
  text-align: center;
  min-height: 66px;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: @tablet-width) {
  .site-list__item {
    min-height: 0;

    &:last-child {
      border-bottom: none;
    }
  }

  .site-list__item--current.site-list__item--current {
    padding-bottom: 8px;
    border-bottom: 2px solid @basic-green;
  }
}

.site-list {
  background-color: #ffffff;
}

@media (min-width: @desktop-width) {
  .site-list {
    background-color: transparent;
  }
}
